//- about.jade
//- About Section
section#about.wrapper
    .container
        .row
            //- Section Header
            .section-header
                h1 Who Am I?
                .accent-line
            .section-body
                .row
                    //- .col-md-4
                    //-     img.img-responsive(src='./img/head-about1.png')
                    .col-md-8.col-md-offset-2
                        p.h3.text-center A Few Fun Facts
                        p.h4.text-center I love drinking coffee. I am an avid biker; although admittedly don't do it as often as I'd like. I enjoy the occasional video game to pass the time. Programming is one of my favorite passtimes. My favorite food is mashed potatoes and I am left handed. 
                        .accent-diamond
                .row
                    .col-md-4.col-md-offset-4
                        img.img-responsive(src='./img/head-about1.png')
                        .accent-diamond
                .row
                    .col-md-8.col-md-offset-2
                        p.h3.text-center In a Nutshell
                        p.h4.text-center.
                            I am a #{moment().format('YYYY') - 1995}yo student at the #[a(href='http://ucf.edu/') University of Central Florida]
                             and am currently pursuing a degree in Computer Engineering. My interest in computers began in 8th grade when one of my
                             good friends introduced me to the concept through the C++ language.
                        p.h4.text-center.
                            Ever since then, my thirst for knowledge has been
                             insatiable and I have since expanded into many other areas: console development, game programming, and even web development 
                             (of which this site is a product of).
                        //-.accent-diamond
                .row
                    .col-md-8.col-md-offset-2
                        p.h3.text-center My Family
                        p.h4.text-center.
                            Out of all of the things I love in life, I would have to place my incredible family about all else. They all care a lot about
                             me and I return that 100-fold to them. If someone were to ask who I'd take to a desert island, choose for a partner-in-crime, or
                             or any other anecdotal scenario, I'd choose my sister, Amy! We used to be worst enemies, but eventually we ran out of things to
                             fight about.
                        p.h4.text-center I still remember that gum you put in my hair though, Amy...
                        .accent-diamond
                .row
                    .col-md-4.col-md-offset-4
                        img.img-responsive(src='./img/head-about2.jpg')
                        .accent-diamond
