//- about.jade
//- About Section
section#about.wrapper
    .container
        .row
            //- Section Header
            .section-header
                h1 Who Am I?
            .section-body
                .row
                    .col-md-4
                        img.img-responsive(src='./img/head-about0.png')
                    .col-md-8

section.bg1.parallax-window(data-parallax='scroll', data-image-src='../img/bg1-n.jpg')
    span.mask-overlay