//- about.jade
//- About Section
section#about.wrapper
    .container
        .row
            //- Section Header
            .section-header
                h1 Who Am I?
                    span.head-line
            .section-body
                .row
                    .col-md-4
                        img.img-responsive(src='./img/head-about1.png')
                    .col-md-8
                        p.h3.text-center A Few Fun Facts
                        p.h4.text-center I love drinking coffee. I am an avid biker; although admittedly don't do it as often as I'd like. I enjoy the occasional video game to pass the time. Programming is one of my favorite passtimes and I am left handed (represent all my lefties).
                        p.h4.text-center sdfsdf
                .row
                    hr
                    .col-md-12
                        p.h3.text-center What Do I Do?
                    .col-md-6
                        p.h3.text-center What Have I Done?