//- contact.jade
//- Contact Section
section#contact.wrapper
    .container
        .row
            //- Section Header
            .section-header
                h1 Say Something Friendly
                .accent-line
            .section-body
                .row
                    .col-md-6
                        form.form-horizontal
                            .form-group
                                label.col-md-2.control-label(for='first-name-field') Name
                                .col-md-5
                                        input#first-name-field.form-control(type='text', placeholder='First Name')
                                .col-md-5
                                        input#last-name-field.form-control(type='text', placeholder='Last Name')
                            .form-group
                                label.col-md-2.control-label(for='email-field') Email
                                .col-md-10
                                    input#email-field.form-control(type='email', placeholder='Email Address')
                            .form-group
                                label.col-md-2.control-label(for='subject-field') Subject
                                .col-md-10
                                    input#subject-field.form-control(type='text', placeholder='Subject')
                            .form-group
                                label.col-md-2.control-label(for='message-field') Message
                                .col-md-10
                                    textarea#message-field.form-control(rows='5', placeholder='What is your message?')
                            .form-group
                                .col-md-4.col-md-offset-8
                                    button#contact-submit.btn.btn-default Submit Form
                                span.contact-success-overlay
                        hr
                        form.form-horizontal
                            .form-group
                                label.col-md-2.control-label Email
                                .col-md-10
                                    p.form-control-static hello@tylerpetresky.com
                            .form-group
                                label.col-md-2.control-label Phone
                                .col-md-10
                                    p.form-control-static 850.572.7440

                    .col-md-6
                        img.img-responsive(src='./img/head-contact0.png')