//- navbar.jade
nav.navbar(class=['nav-theme'], role='navigation')
    .container
        .row
            .navbar-header(class=['col-md-2', 'col-sm-2'])
                button(class=['navbar-toggle'], type='button', data-toggle='collapse', data-target='#main-nav')
                    span.sr-only Toggle Nav
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Tyler Petresky

            #main-nav(class=['collapse', 'navbar-collapse'])
                ul(class=['nav', 'navbar-nav', 'navbar-right'])
                    //- Pretty self-explanatory. This takes you to the
                        top of the page.
                    li: a(href='#homepage') Home
                    //- About Me is about getting to know me as a person.
                        Fun facts, hobbies, likes, dislikes, etc.
                    li: a(href='#about') About Me
                    //- At Play is about my personal projects and having fun.
                        Here I can show off things I've done.
                    li: a(href='#play') At Play
                    //- At Work is about my work experience. I'll talk about
                        my experience at Lockheed Martin and Limbitless, etc.
                    li: a(href='#work') At Work
                    //- Tools will consist of any stand-alone utilities
                        that I have made: image manipulations, IMing, etc.
                    //-li: a(href='#tools') Tools
                    //- Contact is how to get in touch with me. Contact form
                        or just directly through email or phone.
                    li: a(href='#contact') Contact
                    //- This will take you to another page with my blog on it.
                    //-li: a(href='/blog') Blog