//- Projects Section
section#play.wrapper(class=['wrapper-background-alt'])
    .container
        .row
            //- Section Header
            .section-header
                h1 At Play
                .accent-line
            .section-body
                .row
                    .col-md-8.col-md-offset-2
                        p.h3.text-center: b Personal Play Time
                        p.h4.text-center.
                            Everybody needs an outlet to just simply have fun. I personally enjoy a large variety of activities. I don't
                             simply spend all day programming and working. Working all the time quickly burns you out from what you love.
                             I love what I do and never want to view it through a negative lense.
                        p.h4.text-center.
                            One such thing that I love to spend my time doing is riding my bike. Sometimes I'll ride solo, other times I'll
                             participate in community activities in the Orlando area. Below is a picture from the Halloween ride for
                             Critical Mass, a community ride of around 200 riders.
                        .accent-diamond
                .row
                    .col-md-4.col-md-offset-4
                        img.img-responsive(src='http://d3g78hpe9ftrut.cloudfront.net/bg/play0_2.jpg')
                        .accent-diamond
                .row
                    .col-md-8.col-md-offset-2
                        p.h3.text-center: b Personal Projects
                        p.h4.text-center.
                            I never want to get to the point where I live in the #[a(href='http://blog.codinghorror.com/ivory-tower-development/', target='_blank') Ivory Tower],
                             but there I believe there is a lot of value in doing solo-projects to accomplish personal goals or learn new topics
                             to broaden your horizons. With this ideal in mind, I spend a good amount of time just working on my own projects
                             for fun.
                .row
                    .col-md-8.col-md-offset-2
                        p.h3.text-center SfTileEngine
                        p.h4.text-center.
                            One of my favorite projects that I have worked on is a #[a(href='http://en.wikipedia.org/wiki/Tile_engine', target='_blank') tile engine]
                             like you would see in old Pokemon and Final Fantasy games. However, I made it custom in C++ using a 2D graphics layer called
                             #[a(href='http://sfml-dev.org/', target='_blank') SFML].
                        p.h4.text-center.
                            It was designed with extensibility in mind, so it features outlets
                             where a programmer can add in their own features and customize it to a certain degree. I am hoping to be able to use
                             it in a project in the future.
                        .accent-diamond
                .row
                    .col-md-4.col-md-offset-4
                        img.img-responsive(src='http://d3g78hpe9ftrut.cloudfront.net/bg/play2_2.jpg')
                        p.h4.text-center: a(href='http://github.com/Tresky/sf_tile_engine/', target='_blank') Click for Github Code
                        .accent-diamond
                .row
                    .col-md-8.col-md-offset-2
                        p.h3.text-center Personal Website
                        p.h4.text-center.
                            A more recent project has been my personal website (the one that you are currently viewing). I built this site for
                             two reasons. The first of which was to have a personal website; the other reason was to learn something new. With
                             that goal in mind, I used this site to learn how to use #[a(href='https://nodejs.org/', target='_blank') Node.js].
                        p.h4.text-center.
                            It was a lot of fun to learn how to use this new "framework", for want of a better word. One thing I can say on the
                             other side is that I am glad to have learned it. It has given me a whole new perspective on how web design works and
                             I have gained a plethora of new insight into how the web itself actually functions.
                        .accent-diamond
                .row
                    .col-md-4.col-md-offset-4
                        img.img-responsive(src='http://d3g78hpe9ftrut.cloudfront.net/bg/play3_2.jpg')
                        p.h4.text-center: a(href='http://github.com/Tresky/tyler-petresky/', target='_blank') Click for Github Code
                        .accent-diamond
                .row
                    .col-md-8.col-md-offset-2(style='text-align: center;')
                        a.fancy-button(href='http://github.com/Tresky/', target='_blank')
                            span.fa.fa-github.fa-2x
                            span.fancy-text  View My Github