//- Projects Section
section#play.wrapper(class=['wrapper-background-alt'])
    .container
        .row
            //- Section Header
            .section-header
                h1 At Play
                .accent-line
            .section-body
                .row
                    .col-md-8.col-md-offset-2
                        p.h3.text-center Personal Play Time
                        p.h4.text-center.
                            Everybody needs an outlet to just simply have fun. I personally enjoy a large variety of activities.
                             Below I have listed some of my personal projects that I have worked on.
                .row
                    .col-md-4
                        .play-project: img.img-responsive(src='./img/head-about2.jpg')
                    .col-md-4
                        .play-project: img.img-responsive(src='./img/head-about2.jpg')
                    .col-md-4
                        .play-project: img.img-responsive(src='./img/head-about2.jpg')