//- Projects Section
section#play.wrapper(class=['wrapper-background-alt'])
    .container
        .row
            //- Section Header
            .section-header
                h1 At Play
            .section-body