//- layout.jade

doctype html
html
    head
        title Tyler Petresky

        link(rel='stylesheet', href='//cdn.jsdelivr.net/g/bootstrap@3.3.4(css/bootstrap.min.css+css/bootstrap-theme.min.css),animatecss@3.2.6')
        link(rel='stylesheet', href='./css/main.css')

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rokkitt')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css')

    body(data-spy='scroll', data-target='')
        include ./includes/navbar-2.jade 
        #homepage.parallax-window(data-parallax='scroll', data-image-src='http://d3g78hpe9ftrut.cloudfront.net/bg/bg0-p_2.jpg')
            span.mask-overlay
            include ./includes/navbar.jade

            .container
                .row
                    section.col-md-8(class=['col-md-offset-2', 'intro-statement'])
                        .intro-head
                            .intro-line-1
                                span Hello. I am
                            .intro-line-2
                                span @tylerpetresky
                        .row
                            p.h4.hover-line Web Developer 
                            p.h4(style='color: white; display: inline;') / 
                            p.h4.hover-line Computer Engineer
                        a.contact-button(href='#contact') Contact Me                       

        include ./includes/about.jade

        section.bg1.parallax-window(data-parallax='scroll', data-image-src='http://d3g78hpe9ftrut.cloudfront.net/bg/bg1-p_2.jpg')
            span.mask-overlay

        include ./includes/play.jade

        section.bg1.parallax-window(data-parallax='scroll', data-image-src='http://d3g78hpe9ftrut.cloudfront.net/bg/bg2-p_2.jpg')
            span.mask-overlay

        include ./includes/work.jade

        section.bg1.parallax-window(data-parallax='scroll', data-image-src='http://d3g78hpe9ftrut.cloudfront.net/bg/bg3-p_2.jpg')
            span.mask-overlay

        include ./includes/tools.jade

        include ./includes/contact.jade

        include ./includes/footer.jade


        script(src='//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.4,jquery.scrollto@2.1.0,jquery.localscroll@1.4.0,jquery.waypoints@2.0.5')
        script(src='https://platform.twitter.com/widgets.js')
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='./js/plugins.js')
        script(src='./js/main.js')
