/* Custom Styles */
html, body {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative;
}













/* Custom Utility Classes */
section.bg1 {
    background-size: 100%;
    height: 450px;
    position: relative;
}

    .mask-overlay {
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

.hover-line {
    display: inline;
    color: white;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;

}

.hover-line:hover {
    color: #00b3b5;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
}


/* Homepage Section */
#homepage {
    background-size: cover;
    height: 73%;
    overflow: hidden;
    position: relative;
}

    .intro-statement {
        border-radius: 10px;
        /*margin-top: 15%;*/
        padding: 50px 30px 50px 30px;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

        .intro-line-1 {
            color: white;
            font-size: 3em;
            font-family: 'Montserrat', sans-serif;
        }

        .intro-line-2 {
            color: white;
            font-size: 5.0em;
            font-family: 'Montserrat', sans-serif;
        }

.section-header {

}

    .section-header h1 {
        text-align: center;
        font-family: 'Maven Pro', sans-serif;
    }

.section-body {
    margin-top: 50px;
    font-family: 'Maven Pro', sans-serif;
}

    .section-body a {
        color: #00b3b5;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }

    .section-body a:hover {
        text-decoration: none;
        color: #008f9d;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }

    .section-body a:visited {
        color: #008f9d;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }












#articles {

}













/* Footer Section */
footer {
    background-color: #444;
    color: white;
    height: 200px;
    text-align: center;
    padding-top: 40px;
}

    footer a {
        color: white;
        padding-left: 15px;
        text-decoration: none;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }

    footer a:hover,
    footer a:focus {
        color: #00b3b5;
        background-color: rgba(0, 0, 0, 0.0);
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
    }