footer
    .container
        .row
            .col-md-6.col-md-offset-3.social-links
                a(href='http://twitter.com/tylerpetresky', target='_blank')
                    span.fa.fa-twitter.fa-2x
                a(href='http://github.com/Tresky', target='_blank')
                    span.fa.fa-github.fa-2x
                a(href='mailto:hello@tylerpetresky.com', target='_blank')
                    span.fa.fa-envelope.fa-2x
                a(href='https://linkedin.com/in/tylerpetresky', target='_blank')
                    span.fa.fa-linkedin.fa-2x
            //- .col-md-3
            //-     a.footer-follow(href='https://twitter.com/intent/follow?screen_name=tylerpetresky') Follow Me 
            //-         span.fa.fa-twitter.fa-2x

        .row
            .col-md-6.col-md-offset-3
                #footer-nav.nav-theme
                        ul(class=['nav', 'navbar-nav', 'navbar-right'])
                            //- Pretty self-explanatory. This takes you to the
                                top of the page.
                            li
                                a(href='#homepage') Home
                            //- About Me is about getting to know me as a person.
                                Fun facts, hobbies, likes, dislikes, etc.
                            li
                                a(href='#about') About Me
                            //- At Play is about my personal projects and having fun.
                                Here I can show off things I've done.
                            li
                                a(href='#play') At Play
                            //- At Work is about my work experience. I'll talk about
                                my experience at Lockheed Martin and Limbitless, etc.
                            li
                                a(href='#work') At Work
                            //- Tools will consist of any stand-alone utilities
                                that I have made: image manipulations, IMing, etc.
                            li
                                a(href='#tools') Tools
                            //- Contact is how to get in touch with me. Contact form
                                or just directly through email or phone.
                            li
                                a(href='#contact') Contact
                            //- This will take you to another page with my blog on it.
                            li
                                a(href='/blog') Blog
        .row
            span.copyright
                h6 &copy; #{moment().format('YYYY')} Tyler Petresky. All rights reserved.