//- blog.jade

doctype html
html
    head
        title Tyler Petresky - Blog

        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

        link(rel='stylesheet', href='//cdn.jsdelivr.net/g/bootstrap@3.3.4(css/bootstrap.min.css+css/bootstrap-theme.min.css),animatecss@3.2.6')
        link(rel='stylesheet', href='../css/blog.css')

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rokkitt')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css')

    body
        block content

        include ./includes/footer.jade

        script(src='//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.4,jquery.scrollto@2.1.0,jquery.localscroll@1.4.0,jquery.waypoints@2.0.5')
        script(src='https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js')
        script(src='../js/plugins.js')
        script(src='../js/blog.js')