//- blog-post.jade

extends ./blog-layout.jade

block content
    #blog-photo.parallax-window(data-parallax='scroll', data-image-src='../img/bg1-o.jpg')
            span.mask-overlay
            include ./includes/blog-navbar.jade
            .container
                .row
                    section.col-md-8(class=['col-md-offset-2', 'intro-statement'])
                        .intro-head
                            .intro-line-1
                                span= title
    
    .article.container
        .article-below-title
            .article-author Tyler Petresky 
            time.article-timestamp  #{moment(timestamp).format('MMMM Do YYYY')}
        .article-body.markdown !{body}